html {
  background-color: #191825;
}
#application {
  background-color: #191825;
  color: white;
  padding: 1rem;
  height: auto;
  text-align: center;
}
.navbar,
.nav__heading {
  font-size: 3rem;
  padding: 1rem;
}
.input__task:focus {
  outline: none;
}
.input__form,
.input__task {
  width: 20rem;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 500;
  background: none;
  color: #fff;
  border: none;
  border-bottom: 5px solid rgba(255, 255, 255, 0.522);
}
.input__task:hover {
  border-bottom: 5px solid white;
}
