html {
  background-color: #191825;
}
#application {
  background-color: #191825;
  color: white;
  padding: 1rem;
  height: auto;
  text-align: center;
}
.navbar,
.nav__heading {
  font-size: 3rem;
  padding: 1rem;
}
.input__task:focus {
  outline: none;
}
.input__form,
.input__task {
  font-size: 1.3rem;
  font-family: sans-serif;
  font-weight: 500;
  background: none;
  color: #fff;
  border: none;
  border-bottom: 5px solid rgba(255, 255, 255, 0.522);
}
.input__task:hover {
  border-bottom: 5px solid white;
  /* transition: all 1s; */
}

#user__task-list {
  padding: 1rem;
  border-bottom-style: solid;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.icon__close {
  font-size: 1.3rem;
  cursor: pointer;
}
.icon__close:hover {
  transition: 0.1s;
  opacity: 0.5;
}
